<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="application_service_abstract.event_suscriber_manager.class">ENC\Bundle\ApplicationServiceAbstractBundle\EventSuscriberManager\EventSuscriberManager</parameter>
        <parameter key="application_service_abstract.acl_manager.class">ENC\Bundle\ApplicationServiceAbstractBundle\AclManager\AclManager</parameter>
    </parameters>

    <services>
        <service id="application_service_abstract.event_suscriber_manager" class="%application_service_abstract.event_suscriber_manager.class%">
            <argument type="service" id="event_dispatcher" />
        </service>
        
        <service id="application_service_abstract.acl_manager" class="%application_service_abstract.acl_manager.class%">
            <argument type="service" id="service_container" />
        </service>
    </services>
</container>
