<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="application_service_abstract.request.class">ENC\Bundle\ApplicationServiceAbstractBundle\ApplicationServiceRequest\ApplicationServiceRequestBase</parameter>
        <parameter key="application_service_abstract.response.class">ENC\Bundle\ApplicationServiceAbstractBundle\ApplicationServiceResponse\ApplicationServiceResponseJSONEscapedData</parameter>
        <parameter key="application_service_abstract.event_dispatcher.class">Symfony\Component\EventDispatcher\EventDispatcher</parameter>
        <parameter key="application_service_abstract.acl_manager.class">ENC\Bundle\ApplicationServiceAbstractBundle\AclManager\AclManager</parameter>
        <parameter key="application_service_abstract.validation_errors_formatter.class">ENC\Bundle\ApplicationServiceAbstractBundle\ValidationErrorsFormatter\ValidationErrorsFormatter</parameter>
        <parameter key="application_service_abstract.persistence_manager.orm.class">ENC\Bundle\ApplicationServiceAbstractBundle\PersistenceManager\ORM\PersistenceManager</parameter>
        <parameter key="application_service_abstract.persistence_manager.odm.mongodb.class">ENC\Bundle\ApplicationServiceAbstractBundle\PersistenceManager\ODM\MongoDB\PersistenceManager</parameter>
    </parameters>

    <services>
        <service id="application_service_abstract.request" class="%application_service_abstract.request.class%" />

        <service id="application_service_abstract.response" class="%application_service_abstract.response.class%" />

        <service id="application_service_abstract.event_dispatcher" class="%application_service_abstract.event_dispatcher.class%" />

        <service id="application_service_abstract.validation_errors_formatter" class="%application_service_abstract.validation_errors_formatter.class%" />
        
        <service id="application_service_abstract.acl_manager" class="%application_service_abstract.acl_manager.class%">
            <argument type="service" id="security.acl.provider" />
        </service>

        <service id="application_service_abstract.persistence_manager.orm" class="%application_service_abstract.persistence_manager.orm.class%">
            <argument type="service" id="doctrine.orm.default_entity_manager" />
        </service>

        <service id="application_service_abstract.persistence_manager.odm.mongodb" class="%application_service_abstract.persistence_manager.odm.mongodb.class%">
            <argument type="service" id="doctrine.odm.mongodb.default_document_manager" />
        </service>
    </services>
</container>
